@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  
  margin: 0;
  font-family: Rubik;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(209, 227, 227) !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Widget {
  margin: 10px auto;
  width: 50%;
  padding: auto;
  outline: solid 1px rgb(13, 17, 31);
  text-align: center;
}

.ch-container {
  margin: auto;
}